@import '_variables';
@import '_fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .landing {
  height: 100%;
}
body, .landing {
  display: flex;
  flex-direction: column;
  font-family: RotondaC;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
input {
  outline: none;
  font-family: RotondaC;
  font-size: 18px;
}
